*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
display: grid;
grid-template-columns: repeat(3, 1fr);
grid-template-rows: repeat(3, 1fr);
grid-column-gap: 0px;
grid-row-gap: 0px;
}