body {
    background: #1c2340;
    margin: 0;
    padding: 40px;
}

.container {
    width: 800px;
    margin: auto;
    display: grid;


    grid-template-columns: 1fr 1fr 1fr 1fr;


    grid-template-rows: 150px 150px 150px;

    gap: 10px;
}


.green {
    background: #69c34c;
}

.red {
    background: #d83434;
}

.yellow {
    background: #f6b733;
}


.big-left {
    grid-row: 1 / 4;
    grid-column: 1 / 2;
}

.top-mid {
    grid-row: 1 / 2;
    grid-column: 2 / 4;
}

.top-right {
    grid-row: 1 / 2;
    grid-column: 4 / 5;
}

.mid-left {
    grid-row: 2 / 3;
    grid-column: 2 / 3;
}


.mid-right {
    grid-row: 2 / 4;
    grid-column: 4 / 5;
}

.bottom-left {
    grid-row: 3 / 4;
    grid-column: 2 / 3;
}

.bottom-mid {
    grid-row: 3 / 4;
    grid-column: 3 / 4;
}

.bottom-right {
    grid-row: 2 / 4;
    grid-column: 4 / 5;
}