*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: yellow;
}

img{
    margin-top: 50px;
    width: 300px;
    border-radius: 20px;
}
p{
    margin-top: 50px;
    font-size: 34px;
    font-weight: bold;
}

button{
    padding: 10px 15px;
    margin-top: 50px;
    border: none;
    border-radius: 20px;
    background-color: #333;
    color: #fff;
    cursor: pointer;
}